<a href="https://colab.research.google.com/github/fernando-123445/inteligenciaArtificial/blob/main/martes25julio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LUNES 10 DE JULIO EL 2024

In [ ]:
!python --version

Python 3.10.12

In [11]:
miNumero= 3
miNumeroDecimal=3.6
state=True

In [ ]:
print (f'valor entero= {miNumero}')
print ('valor entero es =' ,miNumero)
print (f'valor decimal= {miNumeroDecimal}')
print ('valor bool es = ',state)

valor entero= 3
valor entero es = 3
valor decimal= 3.6
valor bool es =  True

In [4]:
aux1=10
aux2=2

print(f'suma de las variables aux10 + aux2 =' ,aux1+aux2)

suma de las variables aux10 + aux2 = 12

In [5]:
aux1=15
aux2=5

print(f'La resta de las variables aux15 - aux5 =' ,aux1 + aux2)

La resta de las variables aux15 - aux5 = 20

In [6]:
aux1=15
aux2=5

print(f'La multiplicacion de las variables aux15 * aux5 =' ,aux1 * aux2)

La multiplicacion de las variables aux15 * aux5 = 75

In [7]:
tpm=aux1**aux2
print(f'La potencia de las variables aux15 ** aux5 =' ,tpm)

La potencia de las variables aux15 ** aux5 = 759375

In [8]:
var1 ='hola'
var2 = '!,Fernando'

print(f'La concatenacion de las variables var1 + var2 =' ,var1 + var2)

La concatenacion de las variables var1 + var2 = hola!,Fernando

In [9]:
print(3*var1)

holaholahola

In [10]:
numero1 =5
numero2 =10.3

print('El tipo de numero1 es: ',type(numero1))
print('El tipo de numero2 es: ',type(numero2))

El tipo de numero1 es:  <class 'int'>
El tipo de numero2 es:  <class 'float'>

#MARTES 24 DE JULIO DEL 2024

In [36]:
tmp=list()
tmp.append(2)
print(tmp)
tmp.append('Fernando')
print(tmp)

tmp.append(2)
print(tmp)
tmp.append('Carlos')
print(tmp)
print(tmp[3])
aux=tmp[3]
# aux.capitalize()
# print(aux)
print(aux.upper())

tmpl='Hola'
print(tmpl.capitalize())

aux1=[1,2,3,4,5,6,7,8,9,10]
print(aux1)

aux1[4]=10
print(aux1)

print(aux1[-1])

print(aux1[3:7])

print(aux1[0:5])

print(aux1[:5])

# aux2=list()
# for i in range(100):
#   aux2.append(i)
# print(aux2[:20])

# aux3 = list()
# for elem in aux2:
#     if elem % 2 == 0:
#         aux3.append(elem)
# print(aux3)

# aux3 = list()
# for elem in aux2:
#     if elem % 2 == 0:
#         aux3.append(elem ** 2)
# print(aux3)

animales = ["perro", "gato", "elefante", "tigre", "león", "jirafa", "cebra", "canguro", "koala", "delfín"]
for animal in animales:
    print(animal)


cuadrados = [x**2 for x in range(1, 21)]
print(cuadrados)

tmp3 = [ i**2 for i in range(10) if i%2==0 ]
print(tmp3)

[2]
[2, 'Fernando']
[2, 'Fernando', 2]
[2, 'Fernando', 2, 'Carlos']
Carlos
CARLOS
Hola
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 10, 6, 7, 8, 9, 10]
10
[4, 10, 6, 7]
[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10]
perro
gato
elefante
tigre
león
jirafa
cebra
canguro
koala
delfín
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[0, 4, 16, 36, 64]

**diccionarios**

In [44]:
myDiccionario={'Perro': 'blanco', 'gato': 'grande', 'vaca':'roja', 'gallina':'blanca', 'burro': 'lerdo'}
print (myDiccionario)
print (myDiccionario['Perro'])
print (myDiccionario['gato'])
print (myDiccionario['vaca'])
print (myDiccionario['gallina'])
print (myDiccionario['burro'])

exec("myDiccionario={'Refrigerador': 'Samsung', 'Microondas': 'LG', 'Lavadora':'Whirlpool', 'Tostadora':'Philips', 'Aspiradora': 'Dyson'}; print(myDiccionario); print(myDiccionario['Refrigerador']); print(myDiccionario['Microondas']); print(myDiccionario['Lavadora']); print(myDiccionario['Tostadora']); print(myDiccionario['Aspiradora'])")

exec("myDiccionario1={'Perro': 'blanco', 'gato': 'grande', 'vaca':'roja', 'gallina':'blanca', 'burro': 'lerdo'}; myDiccionario2={'Refrigerador': 'Samsung', 'Microondas': 'LG', 'Lavadora':'Whirlpool', 'Tostadora':'Philips', 'Aspiradora': 'Dyson'}; myDiccionario={**myDiccionario1, **myDiccionario2}; print(myDiccionario); print(myDiccionario['Perro']); print(myDiccionario['gato']); print(myDiccionario['vaca']); print(myDiccionario['gallina']); print(myDiccionario['burro']); print(myDiccionario['Refrigerador']); print(myDiccionario['Microondas']); print(myDiccionario['Lavadora']); print(myDiccionario['Tostadora']); print(myDiccionario['Aspiradora'])")


myList = [1, 2, 3, 4, 5, 6]
myDiccionario = {x: x**2 for x in myList}
print(myDiccionario)

myList = [1, 2, 3, 4, 5, 6]
myDiccionario = {x: x**2 for x in myList if x % 2 != 0}
print(myDiccionario)

{'Perro': 'blanco', 'gato': 'grande', 'vaca': 'roja', 'gallina': 'blanca', 'burro': 'lerdo'}
blanco
grande
roja
blanca
lerdo
{'Refrigerador': 'Samsung', 'Microondas': 'LG', 'Lavadora': 'Whirlpool', 'Tostadora': 'Philips', 'Aspiradora': 'Dyson'}
Samsung
LG
Whirlpool
Philips
Dyson
{'Perro': 'blanco', 'gato': 'grande', 'vaca': 'roja', 'gallina': 'blanca', 'burro': 'lerdo', 'Refrigerador': 'Samsung', 'Microondas': 'LG', 'Lavadora': 'Whirlpool', 'Tostadora': 'Philips', 'Aspiradora': 'Dyson'}
blanco
grande
roja
blanca
lerdo
Samsung
LG
Whirlpool
Philips
Dyson
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 3: 9, 5: 25}

DECLARAR VARIABLES

In [52]:
def suma(var1, var2):
  tmp=var1+var2
  return tmp

num1=3
num2=7
print(suma(num1,num2))



def operar(var1, var2, operacion):
    if operacion == 'suma':
        resultado = var1 + var2
    elif operacion == 'resta':
        resultado = var1 - var2
    else:
        raise ValueError("Operación no válida. Use 'suma' o 'resta'.")
    return resultado


num1 = 3
num2 = 7
cadena=resta


print(operar(num1, num2, 'suma'))

print(operar(num1, num2, 'resta'))

10
10
-4

In [61]:
listNumeros = [-1, +1, 0]

def numero_positivo_negativo(numero):
    if numero > 0:
        print(f"{numero} es un numero positivo")
    elif numero < 0:
        print(f"{numero} es un numero negativo")
    else:
        print(f"{numero} es cero")


print(numero_positivo_negativo(listNumeros[1]))

1 es un numero positivo
None