<a href="https://colab.research.google.com/github/fernando-123445/inteligenciaArtificial/blob/main/miercoles26julio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LUNES 10 DE JULIO EL 2024

In [ ]:
!python --version

Python 3.10.12

In [ ]:
miNumero= 3
miNumeroDecimal=3.6
state=True

In [ ]:
print (f'valor entero= {miNumero}')
print ('valor entero es =' ,miNumero)
print (f'valor decimal= {miNumeroDecimal}')
print ('valor bool es = ',state)

valor entero= 3
valor entero es = 3
valor decimal= 3.6
valor bool es =  True

In [ ]:
aux1=10
aux2=2

print(f'suma de las variables aux10 + aux2 =' ,aux1+aux2)

suma de las variables aux10 + aux2 = 12

In [ ]:
aux1=15
aux2=5

print(f'La resta de las variables aux15 - aux5 =' ,aux1 + aux2)

La resta de las variables aux15 - aux5 = 20

In [ ]:
aux1=15
aux2=5

print(f'La multiplicacion de las variables aux15 * aux5 =' ,aux1 * aux2)

La multiplicacion de las variables aux15 * aux5 = 75

In [ ]:
tpm=aux1**aux2
print(f'La potencia de las variables aux15 ** aux5 =' ,tpm)

La potencia de las variables aux15 ** aux5 = 759375

In [ ]:
var1 ='hola'
var2 = '!,Fernando'

print(f'La concatenacion de las variables var1 + var2 =' ,var1 + var2)

La concatenacion de las variables var1 + var2 = hola!,Fernando

In [ ]:
print(3*var1)

holaholahola

In [ ]:
numero1 =5
numero2 =10.3

print('El tipo de numero1 es: ',type(numero1))
print('El tipo de numero2 es: ',type(numero2))

El tipo de numero1 es:  <class 'int'>
El tipo de numero2 es:  <class 'float'>

#MARTES 24 DE JULIO DEL 2024

In [ ]:
tmp=list()
tmp.append(2)
print(tmp)
tmp.append('Fernando')
print(tmp)

tmp.append(2)
print(tmp)
tmp.append('Carlos')
print(tmp)
print(tmp[3])
aux=tmp[3]
# aux.capitalize()
# print(aux)
print(aux.upper())

tmpl='Hola'
print(tmpl.capitalize())

aux1=[1,2,3,4,5,6,7,8,9,10]
print(aux1)

aux1[4]=10
print(aux1)

print(aux1[-1])

print(aux1[3:7])

print(aux1[0:5])

print(aux1[:5])

# aux2=list()
# for i in range(100):
#   aux2.append(i)
# print(aux2[:20])

# aux3 = list()
# for elem in aux2:
#     if elem % 2 == 0:
#         aux3.append(elem)
# print(aux3)

# aux3 = list()
# for elem in aux2:
#     if elem % 2 == 0:
#         aux3.append(elem ** 2)
# print(aux3)

animales = ["perro", "gato", "elefante", "tigre", "león", "jirafa", "cebra", "canguro", "koala", "delfín"]
for animal in animales:
    print(animal)


cuadrados = [x**2 for x in range(1, 21)]
print(cuadrados)

tmp3 = [ i**2 for i in range(10) if i%2==0 ]
print(tmp3)

[2]
[2, 'Fernando']
[2, 'Fernando', 2]
[2, 'Fernando', 2, 'Carlos']
Carlos
CARLOS
Hola
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 10, 6, 7, 8, 9, 10]
10
[4, 10, 6, 7]
[1, 2, 3, 4, 10]
[1, 2, 3, 4, 10]
perro
gato
elefante
tigre
león
jirafa
cebra
canguro
koala
delfín
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]
[0, 4, 16, 36, 64]

**diccionarios**

In [ ]:
myDiccionario={'Perro': 'blanco', 'gato': 'grande', 'vaca':'roja', 'gallina':'blanca', 'burro': 'lerdo'}
print (myDiccionario)
print (myDiccionario['Perro'])
print (myDiccionario['gato'])
print (myDiccionario['vaca'])
print (myDiccionario['gallina'])
print (myDiccionario['burro'])

exec("myDiccionario={'Refrigerador': 'Samsung', 'Microondas': 'LG', 'Lavadora':'Whirlpool', 'Tostadora':'Philips', 'Aspiradora': 'Dyson'}; print(myDiccionario); print(myDiccionario['Refrigerador']); print(myDiccionario['Microondas']); print(myDiccionario['Lavadora']); print(myDiccionario['Tostadora']); print(myDiccionario['Aspiradora'])")

exec("myDiccionario1={'Perro': 'blanco', 'gato': 'grande', 'vaca':'roja', 'gallina':'blanca', 'burro': 'lerdo'}; myDiccionario2={'Refrigerador': 'Samsung', 'Microondas': 'LG', 'Lavadora':'Whirlpool', 'Tostadora':'Philips', 'Aspiradora': 'Dyson'}; myDiccionario={**myDiccionario1, **myDiccionario2}; print(myDiccionario); print(myDiccionario['Perro']); print(myDiccionario['gato']); print(myDiccionario['vaca']); print(myDiccionario['gallina']); print(myDiccionario['burro']); print(myDiccionario['Refrigerador']); print(myDiccionario['Microondas']); print(myDiccionario['Lavadora']); print(myDiccionario['Tostadora']); print(myDiccionario['Aspiradora'])")


myList = [1, 2, 3, 4, 5, 6]
myDiccionario = {x: x**2 for x in myList}
print(myDiccionario)

myList = [1, 2, 3, 4, 5, 6]
myDiccionario = {x: x**2 for x in myList if x % 2 != 0}
print(myDiccionario)

{'Perro': 'blanco', 'gato': 'grande', 'vaca': 'roja', 'gallina': 'blanca', 'burro': 'lerdo'}
blanco
grande
roja
blanca
lerdo
{'Refrigerador': 'Samsung', 'Microondas': 'LG', 'Lavadora': 'Whirlpool', 'Tostadora': 'Philips', 'Aspiradora': 'Dyson'}
Samsung
LG
Whirlpool
Philips
Dyson
{'Perro': 'blanco', 'gato': 'grande', 'vaca': 'roja', 'gallina': 'blanca', 'burro': 'lerdo', 'Refrigerador': 'Samsung', 'Microondas': 'LG', 'Lavadora': 'Whirlpool', 'Tostadora': 'Philips', 'Aspiradora': 'Dyson'}
blanco
grande
roja
blanca
lerdo
Samsung
LG
Whirlpool
Philips
Dyson
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 3: 9, 5: 25}

DECLARAR VARIABLES

In [ ]:
def suma(var1, var2):
  tmp=var1+var2
  return tmp

num1=3
num2=7
print(suma(num1,num2))



def operar(var1, var2, operacion):
    if operacion == 'suma':
        resultado = var1 + var2
    elif operacion == 'resta':
        resultado = var1 - var2
    else:
        raise ValueError("Operación no válida. Use 'suma' o 'resta'.")
    return resultado


num1 = 3
num2 = 7
cadena=resta


print(operar(num1, num2, 'suma'))

print(operar(num1, num2, 'resta'))

10
10
-4

In [ ]:
listNumeros = [-1, +1, 0]

def numero_positivo_negativo(numero):
    if numero > 0:
        print(f"{numero} es un numero positivo")
    elif numero < 0:
        print(f"{numero} es un numero negativo")
    else:
        print(f"{numero} es cero")


print(numero_positivo_negativo(listNumeros[1]))

1 es un numero positivo
None

#MIERCOLES 26 DE JUNIO DEL 2024

In [19]:
#SET AS CONTAINER
var1=set()
var1.add(3)
print(var1)
var1.add('perro')
var1.add(True)
print(var1)
var1.add(4)
print(var1)
var1.remove('perro')
print(var1)

print(len(var1))

print(3 in var1)

for elem in var1:
  print(elem)


#TUPLES
var2=tuple()
var2=(1,2,3,4,5)
print(type(var2))

var2 = var2 + (6, 7, 8)
print(var2)

var2 = (1, 2, 3, 4, 5)
print("Tupla original:", var2)

lista = list(var2)

lista[2] = 10

var2 = tuple(lista)
print("Tupla modificada:", var2)

del lista[3]

var2 = tuple(lista)
print("Tupla después de eliminar un elemento:", var2)

#CLASES
class saludo(object):
    def __init__(self, nombre1, nombre2, nombre3):
        self.nombre1 = nombre1
        self.nombre2 = nombre2
        self.nombre3 = nombre3

    def saludoPersonal(self):
        print(f"Hola, {self.nombre1}!")
        print(f"Hola, {self.nombre2}!")
        print(f"Hola, {self.nombre3}!")


mis_amigos = saludo("Ana", "Luis", "María")

mis_amigos.saludoPersonal()

{3}
{True, 3, 'perro'}
{True, 3, 4, 'perro'}
{True, 3, 4}
3
True
True
3
4
<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)
Tupla original: (1, 2, 3, 4, 5)
Tupla modificada: (1, 2, 10, 4, 5)
Tupla después de eliminar un elemento: (1, 2, 10, 5)
Hola, Ana!
Hola, Luis!
Hola, María!

#NUEVA CLASS

In [34]:
import math

class CalculadoraGeometrica:
    def _int_(self, radio, base, altura):
      self.radio = radio
      self.base = base
      self.altura = altura

    def calcular_area_circulo(self, radio):
        "Calcula el área de un círculo dado su radio"
        return math.pi * radio ** 2

    def calcular_area_triangulo(self, base, altura):
        "Calcula el área de un triángulo dada su base y altura"
        return 0.5 * base * altura

    def calcular_area_cuadrado(self, lado):
        "Calcula el área de un cuadrado dado el lado"
        return lado * lado

calculadora = CalculadoraGeometrica()


area = 10
area_circulo = calculadora.calcular_area_circulo(area)
print(f"Área del círculo con radio {area}: {area_circulo}")


area = 5
altura = 5
area_triangulo = calculadora.calcular_area_triangulo(area, altura)
print(f"Área del triángulo con base {area} y altura {altura}: {area_triangulo}")

area = 5
area_cuadrado = calculadora.calcular_area_cuadrado(area)
print(f"Área del cuadrado con lado {area}: {area_cuadrado}")

Área del círculo con radio 10: 314.1592653589793
Área del triángulo con base 5 y altura 5: 12.5
Área del cuadrado con lado 5: 25

In [41]:
class Estudiante:
    def __init__(self, nombre, edad):
        print("El objeto ha sido Creado")
        self.nombre = nombre
        self.edad = edad

    def imprimir_mayuscula(self):
        print(f"Nombre: {self.nombre.upper()}")
        print(f"Edad: {str(self.edad).upper()}")


estudiante1 = Estudiante('fernando', 24)

estudiante1.imprimir_mayuscula()

print(estudiante1.nombre)
print(estudiante1.edad)

El objeto ha sido Creado
Nombre: FERNANDO
Edad: 24
fernando
24

In [46]:
class Calculadora:
    def __init__(self):
        pass

    def sumar(self, a, b):
        return a + b

    def restar(self, a, b):
        return a - b

    def multiplicar(self, a, b):
        return a * b

    def dividir(self, a, b):
        if b != 0:
            return a / b
        else:
            return "Error: No se puede dividir entre cero."

    def es_par(self, numero):
        if numero % 2 == 0:
            return True
        else:
            return False


calculadora = Calculadora()

print("Suma:", calculadora.sumar(10, 5))
print("Suma:", resultado_suma, "Es par:", calculadora.es_par(resultado_suma))


print("Resta:", calculadora.restar(10, 5))
print("Resta:", resultado_resta, "Es par:", calculadora.es_par(resultado_resta))


print("Multiplicación:", calculadora.multiplicar(10, 5))
print("Multiplicación:", resultado_multiplicacion, "Es par:", calculadora.es_par(resultado_multiplicacion))


print("División:", calculadora.dividir(10, 5))
print("División:", resultado_division, "Es par:", calculadora.es_par(resultado_division))

Suma: 15
Suma: 15 Es par: False
Resta: 5
Resta: 5 Es par: False
Multiplicación: 50
Multiplicación: 50 Es par: True
División: 2.0 Es par: True